@charset "UTF-8";

/* Configurações mínimo 768px */
/* 
    Paleta de Cores
    - Verde: #49a09d  
    - Lilás: #5f2c82
*/

section {
    width: 950px;
    height: 350px;
}

section > div#imagem {
    float: right;
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-position: right bottom;
}

section > div#formulario {
    float: left;
    width: 50%;
}

div#formulario h1 {
    font-size: 2em;
}

div#formulario p#principal {
    font-size: 1.1em;
    font-weight: normal;
}

div#senha, div#login {
    width: 460px;
}

input#iemail, input#isenha {
    width: 420px;
}

input#entrar, input#old-password {
    width: 460px;
    font-size: 16px;
}