@charset "UTF-8";

/* Configurações mínimo 768px */
/* 
    Paleta de Cores
    - Verde: #49a09d  
    - Lilás: #5f2c82
*/

section {
    width: 950px;
}

section > div#imagem {
    float: right;
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}

section > div#formulario {
    float: left;
    width: 50%;
}