@charset "UTF-8";

/* Configurações mínimo 768px */
/* 
    Paleta de Cores
    - Verde: #49a09d  
    - Lilás: #5f2c82
*/

body {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
}

section {
    width: 80vw;
    height: 300px;
}

section > div#imagem {
   float: left;
   width: 30%;
   height: 100%;
   border-radius: 20px 0px 0px 20px;
   background-position: center center;
}

section > div#formulario {
    float: right;
    width: 70%;
}
