@charset "UTF-8";

/* Configurações Gerais */

/* 
    Paleta de Cores
    - Verde: #49a09d  
    - Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #5f2c82;
    --cor02: #4fa09d;
}

body {
    background-color: var(--cor01);
}

main {
    margin: auto;
    height: 100vh;
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 250px;
}

section div {
    text-align: center;
}

div#imagem {
    height: 180px;
    background-image: url(../imagens/pexels-daniel-alvarado-2419375.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 790;
    padding-top: 10px;
}

p {
    padding: 10px;
    text-align: center;
}

div p#principal {
    font-weight: normal;
    font-size: 0.8em;
}

div input {
    height: 38px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    font-size: 0.9em;
}

div#login, div#senha, input {
    margin-bottom: 5px;
}

div#login {
    display: inline-block;
    background-color: #5f2c82;
    width: 90%;
    border-radius: 10px;
    height: 45px;
}

span#usuario {
    font-size: 2em;
    color: white;
    transform: translate(-10%, 20%);
}

input#iemail {
    transform: translate(0%, -12%);
    width: 80%;
    background-color: #98e7e5d5;
    border-radius: 10px;
}

div#senha {
    display: inline-block;
    background-color: #5f2c82;
    width: 90%;
    border-radius: 10px;
    height: 45px;
}

span#key {
    font-size: 2em;
    color: white;
    transform: translate(-10%, 20%);
}

input#isenha {
    transform: translate(0%, -12%);
    width: 80%;
    background-color: #98e7e5d5;
    border-radius: 10px;
}

input#entrar {
    color: white;
    background-color: #61c4c0;
    border:1px solid #2e5e5c;
    width: 90%;
}

input#entrar:hover {
    background-color: #4fa09d;
    cursor: pointer;
}

input#old-password {
    background-color: white;
    color: #2e5e5c;
    border: 1px solid #5cb9b5;
    width: 90%;
}

input#old-password:hover {
    background-color: #69cfcc98;
    cursor: pointer;
}

