@charset "UTF-8";

/* Configurações Gerais */

/* 
    Paleta de Cores
    - Verde: #49a09d  
    - Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #5f2c82;
    --cor02: #49a09d;
}

body {
    background-color: var(--cor01);
}

main {
    margin: auto;
    height: 98vh;
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    height: 550px;
    line-height: 1.7em;
}

div#imagem {
    height: 200px;
    background-image: url(../imagens/pexels-daniel-alvarado-2419375.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px 15px 0px 0px;
}

div h1 {
    text-align: center;
}

h1, p {
    padding: 10px;
}